global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "pushgateway"
    static_configs:
      - targets: ["pushgateway:9091"]

remote_write:
  - url: https://prometheus-prod-40-prod-sa-east-1.grafana.net/api/prom/push
    basic_auth:
      username: "2820801"
      password: "glc_eyJvIjoiMTU5ODU4NCIsIm4iOiJzdGFjay0xNDQ4Mjg0LWhtLXdyaXRlLXByZWd1bnRhXzIiLCJrIjoieGg0amNGdDM0MVZBYzc2WDZrMEU4ME1TIiwibSI6eyJyIjoicHJvZC1zYS1lYXN0LTEifX0="
